data/
temp/
notebooks/Exp_3/best_model.pt
notebooks/Exp_4/models/exp_4.pt
notebooks/Exp_4/runs/
notebooks/Webcam_Frame_Extraction/video.mp4
notebooks/Webcam_Frame_Extraction/ultralyticsplus/yolov8s.pt
notebooks/data_collection/cache/
notebooks/data_collection/Saarbrucken/
notebooks/data_collection/Saarbrucken_Polygon/
notebooks/Exp_5_embeddings/
notebooks/Exp_6/models/
notebooks/Exp_7/patch_data_single_parking_lot_satvssun/
notebooks/Exp_7/patch_data_two_parking_lot_satvssun/
